[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = {{GIT_EDITOR}}
[user]
	name = {{GIT_NAME}}
	email = {{GIT_EMAIL}}
[windows]
	appendAtomically = false
